In [1]:
import pandas as pd
import numpy as np
import datetime

bike_df = pd.read_csv('desktop/citibike_data/JC-201901-citibike-tripdata.csv')

trip_year = []

trip_month = []

for n in range(len(bike_df)):
    trip_year.append(2019)
    trip_month.append(1)
    
bike_df['trip_year'] = trip_year
bike_df['trip_month'] = trip_month

bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,trip_year,trip_month
0,201,12:09:10 AM,12:12:31 AM,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,2019,1
1,505,12:18:00 AM,12:26:26 AM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,2019,1
2,756,12:36:33 AM,12:49:10 AM,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,2019,1
3,1575,12:43:39 AM,12:09:54 AM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,2019,1
4,1566,12:43:40 AM,12:09:46 AM,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,2019,1

In [2]:
bike_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
trip_year                    int64
trip_month                   int64
dtype: object

In [3]:
#test csv formatted in excel, with the second option down in the custom datatype

bike_df[['starttime', 'stoptime']] = bike_df[['starttime', 'stoptime']].apply(pd.to_datetime)

bike_df.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
trip_year                           int64
trip_month                          int64
dtype: object

In [4]:
bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,trip_year,trip_month
0,201,2021-04-17 00:09:10,2021-04-17 00:12:31,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,2019,1
1,505,2021-04-17 00:18:00,2021-04-17 00:26:26,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,2019,1
2,756,2021-04-17 00:36:33,2021-04-17 00:49:10,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,2019,1
3,1575,2021-04-17 00:43:39,2021-04-17 00:09:54,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,2019,1
4,1566,2021-04-17 00:43:40,2021-04-17 00:09:46,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,2019,1

In [5]:
#This function is designed to read in the .csvs for a date range. 
#the read in .csv files will be concatenated with bike_df
#the month and year columns will be added similar to above


def add_data(month_i, month_f, year, df):
    #add 1 for the range function since the second value is not included in range() method
    month_f = month_f + 1
     
    for i in range(month_i, month_f):
        
        #read in file and add to a df
        if i < 10:
            placehold_df = pd.read_csv(f'desktop/citibike_data/JC-{year}0{i}-citibike-tripdata.csv')
            print(f'desktop/citibike_data/JC-{year}0{i}-citibike-tripdata.csv added')
        else:
            placehold_df = pd.read_csv(f'desktop/citibike_data/JC-{year}{i}-citibike-tripdata.csv')
            print(f'desktop/citibike_data/JC-{year}{i}-citibike-tripdata.csv added')
            
        #make new lists for new columns
        year_c = []
        month_c = []
        
        #populate the list        
        for j in range(len(placehold_df)):
            year_c.append(year)
            month_c.append(i)
            
        #add the lists to placehold_df as columns
        placehold_df['trip_year'] = year_c
        placehold_df['trip_month'] = month_c
        
        #fix the starttime and stoptime columns
        placehold_df[['starttime', 'stoptime']] = placehold_df[['starttime', 'stoptime']].apply(pd.to_datetime)
        
        #concatinate placehold_df into df passed to function
        dfs = [df, placehold_df]
        df = pd.concat(dfs)
        print(len(df))
    
    #return updated df
    return df

#call function for the rest of 2019
bike_df = add_data(2, 12, 2019, bike_df)


#check result
print(len(bike_df))
bike_df.tail()

desktop/citibike_data/JC-201902-citibike-tripdata.csv added
38241
desktop/citibike_data/JC-201903-citibike-tripdata.csv added
61847
desktop/citibike_data/JC-201904-citibike-tripdata.csv added
94903
desktop/citibike_data/JC-201905-citibike-tripdata.csv added
131038
desktop/citibike_data/JC-201906-citibike-tripdata.csv added
170468
desktop/citibike_data/JC-201907-citibike-tripdata.csv added
214214
desktop/citibike_data/JC-201908-citibike-tripdata.csv added
262925
desktop/citibike_data/JC-201909-citibike-tripdata.csv added
312169
desktop/citibike_data/JC-201910-citibike-tripdata.csv added
354422
desktop/citibike_data/JC-201911-citibike-tripdata.csv added
385219
desktop/citibike_data/JC-201912-citibike-tripdata.csv added
404947
404947

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,trip_year,trip_month
19723,283,2021-04-17 23:12:19,2021-04-17 23:17:02,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29245,Customer,1990,1,2019,12
19724,267,2021-04-17 23:19:04,2021-04-17 23:23:31,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26153,Subscriber,1989,1,2019,12
19725,379,2021-04-17 23:19:07,2021-04-17 23:25:26,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717733,-74.043845,26276,Subscriber,1984,1,2019,12
19726,188,2021-04-17 23:24:00,2021-04-17 23:27:09,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29461,Subscriber,1987,1,2019,12
19727,326,2021-04-17 23:45:21,2021-04-17 23:50:48,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29123,Subscriber,1988,1,2019,12

In [6]:
bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,trip_year,trip_month
0,201,2021-04-17 00:09:10,2021-04-17 00:12:31,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,2019,1
1,505,2021-04-17 00:18:00,2021-04-17 00:26:26,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,2019,1
2,756,2021-04-17 00:36:33,2021-04-17 00:49:10,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,2019,1
3,1575,2021-04-17 00:43:39,2021-04-17 00:09:54,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,2019,1
4,1566,2021-04-17 00:43:40,2021-04-17 00:09:46,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,2019,1

In [7]:
bike_df = add_data(1, 12, 2020, bike_df)

desktop/citibike_data/JC-202001-citibike-tripdata.csv added
430967
desktop/citibike_data/JC-202002-citibike-tripdata.csv added
453929
desktop/citibike_data/JC-202003-citibike-tripdata.csv added
471648
desktop/citibike_data/JC-202004-citibike-tripdata.csv added
480916
desktop/citibike_data/JC-202005-citibike-tripdata.csv added
505993
desktop/citibike_data/JC-202006-citibike-tripdata.csv added
542914
desktop/citibike_data/JC-202007-citibike-tripdata.csv added
581594
desktop/citibike_data/JC-202008-citibike-tripdata.csv added
624861
desktop/citibike_data/JC-202009-citibike-tripdata.csv added
678694
desktop/citibike_data/JC-202010-citibike-tripdata.csv added
708780
desktop/citibike_data/JC-202011-citibike-tripdata.csv added
730055
desktop/citibike_data/JC-202012-citibike-tripdata.csv added
741749

In [8]:
bike_df = add_data(1, 3, 2021, bike_df)

desktop/citibike_data/JC-202101-citibike-tripdata.csv added
753373
desktop/citibike_data/JC-202102-citibike-tripdata.csv added
758098
desktop/citibike_data/JC-202103-citibike-tripdata.csv added
774941

In [9]:
#create a combined column for month and year

month_ar = bike_df['trip_month'].to_numpy()

year_ar = bike_df['trip_year'].to_numpy()

mon_year = []

for m in range(len(month_ar)):
    mon_year.append(f'{year_ar[m]}_{month_ar[m]}')
    
bike_df['year_mon'] = mon_year

bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,trip_year,trip_month,year_mon
0,201,2021-04-17 00:09:10,2021-04-17 00:12:31,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,2019,1,2019_1
1,505,2021-04-17 00:18:00,2021-04-17 00:26:26,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,2019,1,2019_1
2,756,2021-04-17 00:36:33,2021-04-17 00:49:10,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,2019,1,2019_1
3,1575,2021-04-17 00:43:39,2021-04-17 00:09:54,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,2019,1,2019_1
4,1566,2021-04-17 00:43:40,2021-04-17 00:09:46,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,2019,1,2019_1

In [10]:
bike_df.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
trip_year                           int64
trip_month                          int64
year_mon                           object
dtype: object

In [11]:
#modify function for pre-2019 data
#this ended up being too much data


# def add_data_f2(month_i, month_f, year, df):
#     #add 1 for the range function since the second value is not included in range() method
#     month_f = month_f + 1
     
#     for i in range(month_i, month_f):
        
#         #read in file and add to a df
#         if i < 10:
#             placehold_df = pd.read_csv(f'desktop/citibike_data/{year}0{i}-citibike-tripdata.csv')
#             print(f'desktop/citibike_data/{year}0{i}-citibike-tripdata.csv added')
#         else:
#             placehold_df = pd.read_csv(f'desktop/citibike_data/{year}{i}-citibike-tripdata.csv')
#             print(f'desktop/citibike_data/{year}{i}-citibike-tripdata.csv added')
            
#         #make new lists for new columns
#         year_c = []
#         month_c = []
        
#         #populate the list        
#         for j in range(len(placehold_df)):
#             year_c.append(year)
#             month_c.append(i)
            
#         #add the lists to placehold_df as columns
#         placehold_df['trip_year'] = year_c
#         placehold_df['trip_month'] = month_c
        
#         #concatinate placehold_df into df passed to function
#         dfs = [df, placehold_df]
#         df = pd.concat(dfs)
#         print(len(df))
    
#     #return updated df
#     return df


# bike_df = add_data_f2(1, 12, 2018, bike_df)

In [12]:
#Write out combined dataset

bike_df.to_csv('desktop/citibike_combined/citibike_combined_1.csv', index = False)